<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Movies_PV_521"
			 connectionString = "
			 Data Source=(localdb)\MSSQLLocalDB;
			 Initial Catalog=Movies_PV_521;
			 Integrated Security=True;
			 Connect Timeout=3;
			 Encrypt=False;
			 TrustServerCertificate=False;
			 ApplicationIntent=ReadWrite;
			 MultiSubnetFailover=False"
		/>
		<add name="PV_521_Import"
			 connectionString = "
			 Data Source=DESKTOP-29KL5UV\SQLEXPRESS;
			 Initial Catalog=PV_521_Import;
			 Integrated Security=True;
			 Connect Timeout=3;
			 Encrypt=True;
			 TrustServerCertificate=True;
			 ApplicationIntent=ReadWrite;
			 MultiSubnetFailover=False
			 "
			 />
	</connectionStrings>
</configuration>